*.o
.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
autoscan.log
compile
config.h
config.h.in
config.h.in~
config.json
config.log
config.status
configure
depcomp
install-sh
missing
renogy-dump
renogy-pub
renogy-sys
stamp-h1
